@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>This app is currently under development.</h3>
    <body style="background-image: url('images/seal.png');" />
</div>
